.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

.metadata
.settings
/bin
/doc
*.MF
target/

src/main/webapp/upload

META-INF/
WEB-INF/
danal/
html/
layout/
resources/
robots.txt
upload/ 
